title:               'armengol-altayo.com'
include:             ['_pages', '_libraries', '_scripts', '_css', '_redirects']
# if you prefix any folder or file with underscore, Jekyll ignores it
exclude:             ['_private/files']

# You may need to change the base URL depending on your deploy configuration.
# Specifically, when using GitHub Pages, the baseurl should point to where GitHub
# Pages deploys your repository (which is usually the repository name).
baseurl:             ''
url: 'https://armengol-altayo.com'

# If you are using a host that cannot resolve URLs that do
# not end with .html (such as Neocities), set this to 'true'.
use_html_extension:  false

permalink:           pretty
relative_permalinks: false

plugins:
  - jekyll-last-modified-at

sass:
  sass_dir:          _sass
  style:            :compressed

collections:
  notes:
    output: true
    permalink: /:slug
  private:
    output: true
    permalink: /:slug
    label: "private" # @ bidirectional_links_generator

defaults:
  - scope:
      path: "_notes/**/*.md"
    values:
      layout: "note"
  - scope:
      path: "_private/**/*.md"
    values:
      layout: "note"