.markdown-preview-view img, .markdown-source-view img{
    opacity: 1 !important;
}

.cards table.dataview>tbody>tr{
    border-radius: 0;
    /* border: var(--cards-border-width) solid transparent; */
    border: none;
}

.cards table.dataview>tbody>tr:hover{
    /* border: var(--cards-border-width) solid red; */
    border: none;
}

.cards table.dataview tbody>tr>td:not(:last-child):not(:first-child)>.el-p:not(.el-embed-image){
    border: none;
}

.cards img{
    cursor: initial !important;
}



