<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body>
  <!-- <nav>{% include nav.html %}</nav> -->
  <!-- <div id="canvas-container"></div> -->

  <div class="wrapper">
    <div id="left">
      <main>{{ content }}</main>
    </div>
    <div id="right">

      <div id="gradient"></div>

      <div id="links">
        {% for b in page.links %}
        <div class="links-box" id="{{ b.url }}" style="display:none;">

          <div class="primary">
            {{ b.content | markdownify }}
          </div>

          <div class="secondary">
            {% if b.backlinks.size > 0 %}
            <div class="backlinks">
              Other pages linking to this page:<br>
              {% for backlink in b.backlinks %}
              <a class="internal-link" id="{{ b.url }}{{ backlink.url }}"
                href="{{ site.baseurl }}{{ backlink.url }}{%- if site.use_html_extension -%}.html{%- endif -%}">{{ backlink.title }}</a><br>
              {% endfor %}
            </div>
            {% endif %}
            <footer>
              <time class="font-size-small"
                datetime="{{ b.path | file_mod_date | date_to_xmlschema }}">{% if b.type != 'pages' %}
                Last updated on {{ b.path | file_mod_date | date: "%B %-d, %Y" }}
                {% endif %}
              </time>
            </footer>
          </div>

        </div>
        {% endfor %}
      </div>

    </div>

    <!-- <div id="file">
      {% if page.img %}
      <img class="photo-full" src="assets/{{ page.img }}">
      {% endif %}
    </div> -->

  </div>

  <svg id="line-container"></svg>

  <!-- <script src="_scripts/leader-line.min.js"></script> -->
  <script language="javascript" type="text/javascript" src="_scripts/open-img-in-new-tab.js"></script>
  <script language="javascript" type="text/javascript" src="_scripts/link-previews.js"></script>
  <!-- <script language="javascript" type="text/javascript" src="_scripts/line.js"></script> -->
  <script src="_scripts/lazysizes.min.js" async=""></script>
</body>

</html>