<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="canonical" href="{{ site.url }}{{ page.url }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="data:image/png;base64,iVBORw0KGgo=">
    <link rel="stylesheet" href="{{ site.baseurl }}/_css/instagram.css">
    <title> {{ page.title }} </title>
</head>

<body>
    <div class="wrapper">
        <div class="main">
            {{ content }}
        </div>
    </div>

    <script src="_scripts/lazysizes.min.js" async=""></script>
</body>

</html>