---
layout: default
---

<!-- <article> -->
<!-- {% if page.img %}
  <img class="photo-header" src="assets/{{ page.img }}">
  {% endif %}
  <div>
    <h1>{{ page.title }}</h1>
  </div> -->

<!-- <div id="notes-entry-container"> -->
<content>
  <div class="primary">
    {{ content }}
  </div>
</content>

<content>
  <div class="secondary">
    {% if page.backlinks.size > 0 %}
    <div class="backlinks">
      Other pages linking to this page:<br>
      {% for backlink in page.backlinks %}
      <a class="internal-link" id="{{ page.url }}{{ backlink.url }}"
        href="{{ site.baseurl }}{{ backlink.url }}{%- if site.use_html_extension -%}.html{%- endif -%}">{{ backlink.title }}</a><br>
      {% endfor %}
    </div>
    {% endif %}
    {% if page.last-modified %}
    <footer>
      <time class="font-size-small"
        datetime="{{ page.last-modified | date_to_xmlschema }}">{% if page.type != 'pages' %}
        Last updated on {{ page.last-modified | date: "%B %-d, %Y" }}
        {% endif %}
      </time>
    </footer>
    {% endif %}
  </div>
</content>

<!-- </div> -->
<!-- </article> -->